[DEFAULT]
# Indentifiant (email)
#login = email@adress.com

# Mot de passe
#password = pa$$word!

user_agent = Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:100.0) Gecko/20100101 Firefox/100.0
pause_sec = 0
output_folder = DOWNLOADS